h1 {
  font-size: 2rem;
  font-weight: bold;
  font-family: cursive;
}

ion-avatar {
  height: 15vh;
  width: 15vh;
  margin: 5vh auto;
  img {
    height: 100%;
    width: 100%;
  }
}

ion-button {
  margin-top: 5vh;
}

.marginTop {
  margin-top: 5vh;
}
